# Good files to keep with XILINX uploads
*
!/*   # These to lines let me into the images folder
!/*/*.jpg 
!*.vhd
!*.bit
!*.jpg
!*.ucf
!*.wcfg

# Other good things to not ignore
!.gitignore
!README.md
